*.exe
*.db
*.txt
.env
jwt_*.pem
debug_check
debug_insert
debug
count_parts.py
.serena
*.pem
*.db*
.env
.vscode
.serena
.env
.vscode 
*.pem
.serena
.vscode
*.db*
.vscode
*.pem
scm-manifest.json
scm-manifest.json